<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>senapvfehcreg@tznvy.pbz</string>
	<key>contactName</key>
	<string>Francis Rupert</string>
	<key>description</key>
	<string>Great big dumping ground of Bundle items.</string>
	<key>name</key>
	<string>France-Uncategorized</string>
	<key>uuid</key>
	<string>0BD7D804-67BB-4261-81F8-A89BD99C895B</string>
</dict>
</plist>
